* {
  margin: 0%;
  padding: 0%;
}
.head {
  display: flex;
}
.header-l {
  display: flex;
  height: 1000px;
  flex-grow: 1;
  background-color: black;
  color: white;
}
.header-r {
  display: flex;
  flex-grow: 5;
  color: white;
}
nav {
  display: flex;
  flex: 1;
  height: 100px;
  background-color: rgb(0, 0, 0);
}
